@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng|Oswald&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}











.panel-body {
    padding-top: 10px;
    padding-bottom: 1px;
}

.panel-article {
    box-shadow: 0 2px 6px #ccc;
    border-radius: 0 !important;
}

.article-heading {
    background-color: #fff !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 2px 4px #f2f2f2;
}

.article-title {
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c;
}

.article-content-title {
    font-weight: bold;
    color: #3c3c3c;
}

.article-content-wrapper {
    font-size: 13px;
    /*padding-top: 15px;
    padding-bottom: 15px;*/
}

.article-content-wrapper * {
    font-size: 13px !important;
}

.article-panel-footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.article-panel-footer.around {
    justify-content: space-around;
}

.article-meta {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.3em;
}

.article-meta:hover {
    background-color: #fafafa;
}

.article-meta > * {
    display: block;
}






























#custom .navbar {
    background-color: black;
    border: none;
    box-shadow: 0 6px 12px #dadada;
    font-family: 'Oswald', serif;
}

#custom .navbar a:not(.navbar-dropdown-anchor) {
    color: white;
    background-color: black;
}

#custom .navbar a:not(navbar-dropdown-anchor):hover {
    color: deepskyblue;
    /*background-color: white;*/
}

#custom .navbar-brand:not(#specifity1):not(#specifity2) {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
}


.profile_p {
    font-size: 45px;
}

.left_coll {
    float: left;
    width: 20%;
}

.right_coll {
    float: left;
    width: 78%;
}

.drop_comm {
    float: left;
    width: auto;
}

.comm_box:after {
    content: "";
    display: table;
    clear: both;
}