
<div class="list-group">
    <a href="/Category/Show/@Model.CategoryId" class="list-group-item">
        <h4 class="list-group-item-heading" style="float: left;"><b> @Model.CategoryName </b> <span class="badge"> @Model.Subjects.Count </span> </h4>
        <p style="text-align: right" class="list-group-item-text"> Created on: @Model.Date </p>
    </a>
</div>