
@{
    ViewBag.Title = "Lista subiecte admin";
}

<h2> @ViewBag.Title </h2>

@foreach (var subject in ViewBag.Subjects)
{
    <div class="panel panel-default">
        @Html.Partial("SubjectInfo", (Forum.Models.Subject)subject)
        <p> Category: @subject.Category.CategoryName </p>
        <a class="btn btn-success" href="/Subject/Show/@subject.SubjectId">Afisare subiect</a>
    </div>

    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-info" href="/Category/Index">All categories</a>
<br />

