
@{
    ViewBag.Title = "Lista subiecte admin";
}

<h2> @ViewBag.Title </h2>

@foreach (Forum.Models.Subject subject in ViewBag.Subjects)
{
    ViewData["subjectClickable"] = true;
    @Html.Partial("SubjectPanelWithActions", subject)
    ViewData["subjectClickable"] = null;

    <hr />
}
<br />
<a class="btn btn-info" href="/Category/Index">All categories</a>
<br />

