@{
    ViewBag.Title = "Search";
    ViewBag.Word = '"' + ViewBag.Word + '"';
}

<h2 style="text-align: center;">Results for word @ViewBag.Word</h2>

<div>
    <h2>Subject results</h2>

    @foreach (Forum.Models.Subject subject in ViewBag.Subjects)
    {
        ViewData["subjectClickable"] = true;
        <div class="panel panel-default">
            @Html.Partial("SubjectInfo", subject, ViewData)
        </div>
        <hr />
        ViewData["subjectClickable"] = null;
    }

    <br />
    <hr />
    <br />

    <h2>Comment results</h2>
    @foreach (Forum.Models.Comment comment in ViewBag.Comments)
    {
        ViewBag.CommentClickable = true;
        ViewBag.CommentIncludeActions = null;

        <text>
            @Html.Partial("CommentInfo", comment)
        </text>

        <hr />
    }
</div>
