@{
    ViewBag.Title = "Search";
}

<h2>Results for word @ViewBag.Word</h2>

<div>

    @foreach (Forum.Models.Subject subject in ViewBag.Subjects)
    {
        <div style="border: 2px solid black; margin: 20px 0px;" onclick="window.location = '/Subject/Show/@subject.SubjectId'">
            @*<div style="border: 2px solid black" onclick="console.log(2)">*@
            @Html.Partial("SubjectInfo", subject)
        </div>
    }
    @foreach (Forum.Models.Comment comment in ViewBag.Comments)
    {
        <div style="border: 2px solid black; margin: 20px 0px;" onclick="window.location = '/Comment/Show/@comment.CommentId'">
            @*<div style="border: 2px solid black" onclick="console.log(2)">*@
            @Html.Partial("CommentInfo", comment)
        </div>
    }
</div>
