@model Forum.Models.Subject
@{
    ViewBag.Title = "Afisare subiect";
}

<h2> @ViewBag.Title </h2>

@Html.Partial("SubjectPanelWithActions", Model)


<hr />

<a class="btn btn-info" href="/Category/Show/@Model.CategoryId">All category subjects</a>
@if (Request.IsAuthenticated) 
{
    <a class="btn btn-info" href="/Subject/CreateComment/@Model.SubjectId">Add a new comment in this subject</a>
}

<script type="text/javascript">
    function DateToString(date) {
        document.getElementsByClassName("left_coll").appendChild
        return "Asd";
        switch (date) {
            case 1: return "January"; break;
            default: return "Something";
        }
        console.log("asd");
    }
</script>

<div>

    @for (int i = 0; i < ViewBag.Comments.Count; ++i)
    {
        ViewBag.CommentClickable = null;
        ViewBag.CommentIncludeActions = true;

        <text>
            @Html.Partial("CommentInfo", (Forum.Models.Comment)ViewBag.Comments[i]);
        </text>
    }

</div>

