
@{
    ViewBag.Title = "Lista comentarii admin";
}

<h2> @ViewBag.Title </h2>

@foreach (Forum.Models.Comment comment in ViewBag.Comments)
{
    ViewBag.CommentClickable = true;
    ViewBag.CommentIncludeActions = true;

    <text>
        @Html.Partial("CommentInfo", comment)
    </text>
    
    <hr />
}   

