
@{
    ViewBag.Title = "Lista categorii";
}

<h1> @ViewBag.message </h1>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Search", controllerName: "Subject", routeValues: new
{
    word = "A"
}))
{
    @Html.Editor("word")
    <button class="btn btn-success" type="submit">Search</button>
}

@foreach (var category in ViewBag.Categories)
{
<div class="panel panel-default">
    @Html.Partial("CategoryInfo", (Forum.Models.Category) category)
    <a class="btn btn-success" href="/Category/Show/@category.CategoryId">Afisare categorie</a>
</div>

<br />
<hr />
<br />
}
<br />
<a class="btn btn-info" href="/Category/New">Adauga o noua categorie</a>
<br />

<script type="text/javascript">
    function Search() {
        word = document.getElementById("word_input").value;
    }
</script>
