
@{
    ViewBag.Title = "Category list";
}

<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-6" style="padding: 0px;">
            <div style="display:flex; align-items: flex-end; width: 100%;">
                <h2 style="width: 100%; text-align: left; margin: 0px;">Treddi categories</h2>
            </div>
        </div>

        <div class="col-md-6" style="padding: 0px">
            <div style="display: flex; justify-content: flex-end; align-items: flex-end; width: 100%;">
                <form action="/Subject/Search" method="post">
                    @Html.Editor("word")
                    <button class="btn btn-primary" type="submit" style="margin-left: 20px;">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

@foreach (var category in ViewBag.Categories)
{
    <hr />
    @Html.Partial("CategoryInfo", (Forum.Models.Category)category)
}


@if (User.IsInRole("Administrator"))
{
    <br />
    <a class="btn btn-warning" href="/Category/New">Add a new category</a>
    <br />
}
