@model Forum.Models.Category

@{
    ViewBag.Title = "Adaugare Categorie";
}



<h2>Add category</h2>

@*<form method="post" action="/Category/New">*@
@using (Html.BeginForm(actionName: "New", controllerName: "Category"))
{
    @Html.ValidationSummary(false, "Validation errors", new { @class = "text-danger" })

    @*<label>Nume categorie</label>*@
    @*@Html.Label("CategoryName", "Nume categorie")*@
    @Html.LabelFor(m => m.CategoryName, "Category name")
    <br />
    @*<input type="text" name="CategoryName" />*@
    @*@Html.TextBox("CategoryName", null, new { @class = "form-control" })*@
    @Html.EditorFor(m => m.CategoryName)
    <br />
    <br /><br /><br />
    <button class="btn btn-success" type="submit">Add category</button>
@*</form>*@
}

