@model Forum.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}

<h2> @ViewBag.Title </h2>

<div class="panel panel-default">
    @Html.Partial("CategoryInfo", Model)
    <a class="btn btn-success" href="/Category/Edit/@Model.CategoryId">Editare categorie</a>

    @*<form style="display:inline-block" method="post" action="/Category/Delete/@Model.CategoryId">*@
    <div style="display: inline-block">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Category", routeValues: new
        {
            id = Model.CategoryId,
            //@style = "display: inline-block"
        }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-success" type="submit">Sterge categoria</button>
        }
        @*</form>*@
    </div>
</div>



<br /> <br /> <br /> <br /> <br /> <br />
<a class="btn btn-info" href="/Category/New">Adauga categorie</a>

<br />
<hr />
<br />

